<form class="auth-container" [formGroup]="authForm" (submit)="onSubmit()">
  <div class="auth-container__wrapper">
    <p class="title">Login</p>

    <div class="form">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="" formControlName="username"/>
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="" formControlName="password"/>
      </div>

      <button class="sign">Sign in</button>
    </div>

    <div class="social-message">
      <div class="line"></div>
      <p class="message">Login with social accounts</p>
      <div class="line"></div>
    </div>

    <p class="signup">
      Don't have an account?
      <a routerLink="/auth/register" class="">Sign up</a>
    </p>
  </div>
</form>

@if(isLoading()) {
  <uc-loader />
}
