<button class="add-category-btn" (click)="openModal()">
  Добавить категорию
</button>

@if (isModalOpen()) {
  <div class="modal-content">
    <h2>Добавить категорию</h2>
    <form class="modal-content__form" (ngSubmit)="onSubmit()">
      <input id="category-name" type="text" [(ngModel)]="title" name="title">
      <button type="submit">Submit</button>
    </form>
    <button (click)="closeModal()" class="close-modal">
      <svg width="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <g id="Menu / Close_SM">
            <path id="Vector" d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </g>
      </svg>
    </button>
  </div>
}

@if (isModalOpen()) {
  <div
    class="modal-backdrop"
    (click)="closeModal()"
  ></div>
}

@if(isLoading()) {
  <uc-loader />
}
