@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  flex: 1;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

:root {
  --text-color: white;
  --background-color: #161717;
  --background-card: #202020;
}

.white-theme {
  --text-color: black;
  --background-color: #eee;
  --background-card: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
}
